<div class="zpm-wikibar">
	<div class="zpm-wikibar-inner">
		<span class="zpm-wikibar-label">База знаний:</span>
		<a href="https://wiki.zapret.moe/Zapret/home">вики проекта</a>
		<a href="https://wiki.zapret.moe/Zapret/download">установка Zapret 2</a>
		<a href="https://wiki.zapret.moe/Zapret2/guide">настройка стратегий</a>
		<a href="https://wiki.zapret.moe/Zapret/faq">FAQ</a>
		<a href="https://wiki.zapret.moe/DPI/DPI">как работает DPI</a>
		<a href="https://wiki.zapret.moe/Zapret/android">обход на Android</a>
		<a href="https://wiki.zapret.moe/xray/xray">Xray и VLESS</a>
		<a href="https://wiki.zapret.moe/amnezia-3-0/amnezia-3-0">AmneziaWG 3.0</a>
		<a href="https://wiki.zapret.moe/mtproxy/mtproxy">MTProxy для Telegram</a>
		<a href="https://wiki.zapret.moe/Zapret/zapret_not_working">не работает?</a>
	</div>
</div>
