<link rel="icon" href="{{AppSubUrl}}/assets/img/favicon.ico?v=zapret2" sizes="any">
<link rel="apple-touch-icon" href="{{AppSubUrl}}/assets/img/apple-touch-icon.png?v=zapret2">
<link rel="stylesheet" href="{{AppSubUrl}}/assets/zapret-moe/site.css?v=@ASSETS_VER@">
